# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Collapse HTML files so they don't count towards language stats
*.html linguist-vendored
*.html.erb linguist-detectable=false

# Explicitly tell GitHub to prioritize Ruby
*.rb linguist-language=Ruby